.btn{
    width:90px;
    height:90px;
    background-color: aquamarine;
    font-size: xx-large;
    font-weight: bold;
    color:black;
    border:solid black 1px;
}

.shuffle{
    width:200px;
    height:80px;
    background-color: lightcyan;
    font-size: xx-large;
    font-weight: bold;
    color:black;
    border:solid black 1px;
}