.btn{
    width:95px;
    height:95px;
    background-color: aquamarine;
    font-size: xx-large;
    font-weight: bold;
    color:black;
    border:solid black 1px;
}

.shuffle{
    width:250px;
    height:100px;
    background-color: lightcyan;
    font-size: xx-large;
    font-weight: bold;
    color:black;
    border:solid black 1px;
}